<div class="row">
  <div class="col-xs-12 py-4">
    <h1>Cadastro de produto</h1>
  </div>
<div class="col-md-6 centered">
    <%= form_for @product do |f| %>

        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, class: 'form-control' %>
        </div>

      <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
    <% end %>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

